---
layout: layouts/base.njk
---

<h1>Event listing from Notist</h1>
<p>
  <a href="https://noti.st">Notist</a> is a lovely site for collecting and sharing your presentations. You can list events that are coming up, and capture coverage of your talks to share it along with your slides and other resources.
</p>
<p>
  One of the lovely things about Notist is that exposes a lot of its content as JSON feeds. This site is an example of how you can use these feeds to populate content on your own website.
</p>

<hr/>

<h2>Upcoming events <small>(sourced from {{ notist.url }})</small></h2>
<ul class="listing">
{% for item in notist.events.future %}
  <li>
    <p class="meta">{{ item.starts_on | date }} in {{ item.address }}</p>
    <h3><a href="{{ item.url }}" target="NEW" rel="noopener">{{ item.title }}</a></h3>
  </li>
 {% endfor %}
</ul>

<hr/>

<h2>Previous events <small>(sourced from {{ notist.url }})</small></h2>
<ul class="listing">
{% for item in notist.events.past %}
  <li>
    <p class="meta">{{ item.starts_on | date }} in {{ item.address }}</p>
    <h3><a href="{{ item.url }}" target="NEW" rel="noopener">{{ item.title }}</a></h3>
  </li>
 {% endfor %}
</ul>
